FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=ganti_dengan_secret_key_yang_aman

GOOGLE_SPREADSHEET_ID=masukkan_id_spreadsheet_disini
GOOGLE_DRIVE_FOLDER_ID=masukkan_id_folder_drive_disini
GAS_API_URL=https://script.google.com/macros/s/masukkan_url_gas_disini/exec
GAS_SECRET_TOKEN=ganti_dengan_token_rahasia
