FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=ganti_dengan_secret_key_yang_aman

GOOGLE_SPREADSHEET_ID=1EcIOYirUu9A_J_Fr9NjNYkA0tRRF1NKh
GOOGLE_DRIVE_FOLDER_ID=masukkan_id_folder_drive_disini
GAS_API_URL=https://script.google.com/macros/s/AKfycbwGdCYfPKmkmL6qO5US0R0qJ_6N86BNA167N8OCn3wGkn1jxui3WBSggwOt5Qn12_8z/exec
GAS_SECRET_TOKEN=TOKEN_RAHASIA_BN_2026
